.hero {
  height: 100vh;
  background: linear-gradient(180deg, #47fdae, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}
